<div class="education">
  {% if site.data.education != blank %}
    <ul>
      {% assign edu_list = site.data.education | reverse %}
      {% for edu in edu_list %}
        <li>
          {{ edu.degree }}, {{ edu.years }}, {{ edu.university }}, {{ edu.location }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No education records available.</p>
  {% endif %}
</div>
